
<h1><a>jMonkeyEngine 3 Tutorial (10) - Hello Terrain</a></h1>
<div>

<p>
Previous: <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Hello Collision</a>,
Next: <a href="/com/jme3/gde/docs/jme3/beginner/hello_audio.html">Hello Audio</a>
</p>

<p>
One way to create a 3D landscape is to sculpt a huge terrain model. This gives you a lot of artistic freedom ??? but rendering such a huge model can be quite slow. This tutorial explains how to create fast-rendering terrains from heightmaps, and how to use texture splatting to make the terrain look good.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme3/beginner/beginner-terrain.png">
</p>

<p>
Note: If you get an error when trying to create your ImageBasedHeightMap object, you may need to update the <acronym title="Software Development Kit">SDK</acronym>, click on &quot;Help&quot; / &quot;Check for updates&quot;
</p>

<p>
<p><div>To use the example assets in a new jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> project, right-click your project, select &quot;Properties&quot;, go to &quot;Libraries&quot;, press &quot;Add Library&quot; and add the &quot;jme3-test-data&quot; library.
</div></p>
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine 3 Tutorial (10) - Hello Terrain" [1-827] -->
<h2><a>Sample Code</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.material.Material;
import com.jme3.renderer.Camera;
import com.jme3.terrain.geomipmap.TerrainLodControl;
import com.jme3.terrain.heightmap.AbstractHeightMap;
import com.jme3.terrain.geomipmap.TerrainQuad;
import com.jme3.terrain.geomipmap.lodcalc.DistanceLodCalculator;
import com.jme3.terrain.heightmap.HillHeightMap; // for exercise 2
import com.jme3.terrain.heightmap.ImageBasedHeightMap;
import com.jme3.texture.Texture;
import com.jme3.texture.Texture.WrapMode;
import java.util.ArrayList;
import java.util.List;
&nbsp;
<span>/** Sample 10 - How to create fast-rendering terrains from heightmaps,
and how to use texture splatting to make the terrain look good.  */</span>
public class HelloTerrain extends SimpleApplication &#123;
&nbsp;
  private TerrainQuad terrain;
  Material mat_terrain;
&nbsp;
  public static void main&#40;String&#91;&#93; args&#41; &#123;
    HelloTerrain app = new HelloTerrain&#40;&#41;;
    app.start&#40;&#41;;
  &#125;
&nbsp;
  @Override
  public void simpleInitApp&#40;&#41; &#123;
    flyCam.setMoveSpeed&#40;50&#41;;
&nbsp;
    /** 1. Create terrain material and load four textures into it. */
    mat_terrain = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Terrain/Terrain.j3md&quot;&#41;;
&nbsp;
    /** 1.1) Add ALPHA map (for red-blue-green coded splat textures) */
    mat_terrain.setTexture&#40;&quot;Alpha&quot;, assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/alphamap.png&quot;&#41;&#41;;
&nbsp;
    /** 1.2) Add GRASS texture into the red layer (Tex1). */
    Texture grass = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/grass.jpg&quot;&#41;;
    grass.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex1&quot;, grass&#41;;
    mat_terrain.setFloat&#40;&quot;Tex1Scale&quot;, 64f&#41;;
&nbsp;
    /** 1.3) Add DIRT texture into the green layer (Tex2) */
    Texture dirt = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/dirt.jpg&quot;&#41;;
    dirt.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex2&quot;, dirt&#41;;
    mat_terrain.setFloat&#40;&quot;Tex2Scale&quot;, 32f&#41;;
&nbsp;
    /** 1.4) Add ROAD texture into the blue layer (Tex3) */
    Texture rock = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/road.jpg&quot;&#41;;
    rock.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex3&quot;, rock&#41;;
    mat_terrain.setFloat&#40;&quot;Tex3Scale&quot;, 128f&#41;;
&nbsp;
    /** 2. Create the height map */
    AbstractHeightMap heightmap = null;
    Texture heightMapImage = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/mountains512.png&quot;&#41;;
    heightmap = new ImageBasedHeightMap&#40;heightMapImage.getImage&#40;&#41;&#41;;
    heightmap.load&#40;&#41;;
&nbsp;
    <span>/** 3. We have prepared material and heightmap. 
     * Now we create the actual terrain:
     * 3.1) Create a TerrainQuad and name it &quot;my terrain&quot;.
     * 3.2) A good value for terrain tiles is 64x64 -- so we supply 64+1=65.
     * 3.3) We prepared a heightmap of size 512x512 -- so we supply 512+1=513.
     * 3.4) As LOD step scale we supply Vector3f(1,1,1).
     * 3.5) We supply the prepared heightmap itself.
     */</span>
    int patchSize = 65;
    terrain = new TerrainQuad&#40;&quot;my terrain&quot;, patchSize, 513, heightmap.getHeightMap&#40;&#41;&#41;;
&nbsp;
    /** 4. We give the terrain its material, position &amp; scale it, and attach it. */
    terrain.setMaterial&#40;mat_terrain&#41;;
    terrain.setLocalTranslation&#40;0, -100, 0&#41;;
    terrain.setLocalScale&#40;2f, 1f, 2f&#41;;
    rootNode.attachChild&#40;terrain&#41;;
&nbsp;
    /** 5. The LOD (level of detail) depends on were the camera is: */
    TerrainLodControl control = new TerrainLodControl&#40;terrain, getCamera&#40;&#41;&#41;;
    terrain.addControl&#40;control&#41;;
  &#125;
&#125;</pre>

<p>
When you run this sample you should see a landscape with dirt mountains, grass plains, plus some winding roads in between.
</p>

</div>
<!-- EDIT2 SECTION "Sample Code" [828-4465] -->
<h2><a>What is a Heightmap?</a></h2>
<div>

<p>

Heightmaps are an efficient way of representing the shape of a hilly landscape. Not every pixel of the landscape is stored, instead, a grid of sample values is used to outline the terrain height at certain points. The heights between the samples is interpolated. 
</p>

<p>
In Java, a heightmap is a float array containing height values between 0f and 255f. Here is a very simple example of a terrain generated from a heightmap with 5x5=25 height values.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme2/terrain-from-float-array.png">
</p>

<p>
Important things to note:
</p>
<ul>
<li><div> Low values (e.g. 0 or 50) are valeys.</div>
</li>
<li><div> High values (e.g. 200, 255) are hills.</div>
</li>
<li><div> The heightmap only specifies a few points, and the engine interpolates the rest. Interpolation is more efficient than creating a model with several millions vertices.</div>
</li>
</ul>

<p>

When looking at Java data types to hold an array of floats between 0 and 255, the Image class comes to mind. Storing a terrain&#039;s height values as a grayscale image has one big advantage: The outcome is a very userfriendly, like a topographical map:
</p>
<ul>
<li><div> Low values (e.g. 0 or 50) are dark gray ??? these are valleys.</div>
</li>
<li><div> High values (e.g. 200, 255) are light grays ??? these are hills.</div>
</li>
</ul>

<p>

Look at the next screenshot: In the top left you see a 128x128 grayscale image (heightmap) that was used as a base to generate the depicted terrain. To make the hilly shape better visible, the mountain tops are colored white, valleys brown, and the areas inbetween green:
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme2/terrain-from-heightmap.png">}
</p>

<p>
In a real game, you will want to use more complex and smoother terrains than the simple heightmaps shown here. Heightmaps typically have square sizes of 512x512 or 1024x1024, and contain hundred thousands to 1 million height values. No matter which size, the concept is the same as described here.
</p>

</div>
<!-- EDIT3 SECTION "What is a Heightmap?" [4466-6264] -->
<h3><a>Looking at the Heightmap Code</a></h3>
<div>

<p>

<img src="/wiki/lib/exe/fetch.php">
</p>

<p>
The first step of terrain creation is the heightmap. You can create one yourself in any standard graphic application. Make sure it has the following properties:
</p>
<ul>
<li><div> The size must be square, and a power of two.</div>
<ul>
<li><div> Examples: 128x128, 256x256, 512x512, 1024x1024</div>
</li>
</ul>
</li>
<li><div> Color mode must be 255 grayscales.</div>
<ul>
<li><div> Don&#039;t supply a color image, it will be interpreted as grayscale, with possibly weird results.</div>
</li>
</ul>
</li>
<li><div> Save the map as a .jpg or .png image file</div>
</li>
</ul>

<p>

The file <code>mountains512.png</code> that you see here is a typical example of an image heightmap.
</p>

<p>
Here is how you create the heightmap object in your jME code:
</p>
<ol>
<li><div> Create a Texture object.</div>
</li>
<li><div> Load your prepared heightmap image into the texture object.</div>
</li>
<li><div> Create an AbstractHeightmap object from an ImageBasedHeightMap. <br/>
It requires an image from a JME Texture.</div>
</li>
<li><div> Load the heightmap.</div>
</li>
</ol>
<pre>AbstractHeightMap heightmap = null;
    Texture heightMapImage = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/mountains512.png&quot;&#41;;
    heightmap = new ImageBasedHeightMap&#40;heightMapImage.getImage&#40;&#41;&#41;;
    heightmap.load&#40;&#41;;</pre>

</div>
<!-- EDIT4 SECTION "Looking at the Heightmap Code" [6265-7514] -->
<h2><a>What is Texture Splatting?</a></h2>
<div>

<p>

Previously you learned how to create a material for a simple shape such as a cube. All sides of the cube have the same color. You can apply the same material to a terrain, but then you have one big meadow, one big rock desert, etc. This is not always what you want.
</p>

<p>
Texture splatting allows you create a custom material, and &quot;paint&quot; textures on it like with a &quot;paint brush&quot;. This is very useful for terrains: As you see in the example here, you can paint a grass texture into the valleys, a dirt texture onto the mountains, and free-form roads inbetween.
</p>

<p>
<p><div>The jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> comes with a <a href="/com/jme3/gde/docs/sdk/terrain_editor.html">TerrainEditor plugin</a>. Using the TerrainEditor plugin, you can sculpt the terrain with the mouse, and save the result as heightmap. You can paint textures on the terrain and the plugin saves the resulting splat textures as alphamap(s). The following paragraphs describe the manual process for you. You can choose to create the terrain by hand, or using the <a href="/com/jme3/gde/docs/sdk/terrain_editor.html">TerrainEditor plugin</a>.
</div></p>
</p>

<p>
Splat textures are based on the <code>Terrain.j3md</code> material defintion. If you open the Terrain.j3md file, and look in the Material Parameters section, you see that you have several texture layers to paint on: <code>Tex1</code>, <code>Tex2</code>, <code>Tex3</code>, etc. 
</p>

<p>
Before you can start painting, you have to make a few decisions:
</p>
<ol>
<li><div> Choose three textures. For example grass.jpg, dirt.jpg, and road.jpg. <img src="/wiki/lib/exe/fetch.php">  <img src="/wiki/lib/exe/fetch.php"> <img src="/wiki/lib/exe/fetch.php"></div>
</li>
<li><div> You &quot;paint&quot; three texture layers by using three colors: Red, blue and, green. You arbitrarily decide that???</div>
<ol>
<li><div> Red   is grass ??? red   is layer <code>Tex1</code>, so put the grass texture into Tex1.</div>
</li>
<li><div> Green is dirt  ??? green is layer <code>Tex2</code>, so put the dirt  texture into Tex2.</div>
</li>
<li><div> Blue  is roads ??? blue  is layer <code>Tex3</code>, so put the roads texture into Tex3.</div>
</li>
</ol>
</li>
</ol>

<p>

Now you start painting the texture:
</p>
<ol>
<li><div> Make a copy of your terrains heightmap, <code>mountains512.png</code>. You want it as a reference for the shape of the landscape.</div>
</li>
<li><div> Name the copy <code>alphamap.png</code>.</div>
</li>
<li><div> Open <code>alphamap.png</code> in a graphic editor and switch the image mode to color image.</div>
<ol>
<li><div> Paint the black valleys red ??? this will be the grass.</div>
</li>
<li><div> Paint the white hills green ??? this will be the dirt of the mountains.</div>
</li>
<li><div> Paint blue lines where you want roads to criss-cross the landscape.</div>
</li>
</ol>
</li>
<li><div> The end result should look similar to this:</div>
</li>
</ol>

<p>
<img src="/wiki/lib/exe/fetch.php"> ??? <img src="/wiki/lib/exe/fetch.php">
</p>

</div>
<!-- EDIT5 SECTION "What is Texture Splatting?" [7515-10434] -->
<h3><a>Looking at the Texturing Code</a></h3>
<div>

<p>

As usual, you create a Material object. Base it on the Material Definition <code>Terrain.j3md</code> that is included in the jME3 framework.
</p>
<pre>Material mat_terrain = new Material&#40;assetManager, &quot;Common/MatDefs/Terrain/Terrain.j3md&quot;&#41;;</pre>

<p>
Load four textures into this material. The first one, <code>Alpha</code>, is the alphamap that you just created.
</p>
<pre>mat_terrain.setTexture&#40;&quot;Alpha&quot;,
    assetManager.loadTexture&#40;&quot;Textures/Terrain/splat/alphamap.png&quot;&#41;&#41;;</pre>

<p>
The three other textures are the layers that you have previously decided to paint: grass, dirt, and road. You create texture objects and load the three textures as usual. Note how you assign them to their respective texture layers (Tex1, Tex2, and Tex3) inside the Material!
</p>
<pre>    /** 1.2) Add GRASS texture into the red layer (Tex1). */
    Texture grass = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/grass.jpg&quot;&#41;;
    grass.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex1&quot;, grass&#41;;
    mat_terrain.setFloat&#40;&quot;Tex1Scale&quot;, 64f&#41;;
&nbsp;
    /** 1.3) Add DIRT texture into the green layer (Tex2) */
    Texture dirt = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/dirt.jpg&quot;&#41;;
    dirt.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex2&quot;, dirt&#41;;
    mat_terrain.setFloat&#40;&quot;Tex2Scale&quot;, 32f&#41;;
&nbsp;
    /** 1.4) Add ROAD texture into the blue layer (Tex3) */
    Texture rock = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/road.jpg&quot;&#41;;
    rock.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex3&quot;, rock&#41;;
    mat_terrain.setFloat&#40;&quot;Tex3Scale&quot;, 128f&#41;;</pre>

<p>
The individual texture scales (e.g. <code>mat_terrain.setFloat(&quot;Tex3Scale&quot;, 128f);</code>) depend on the size of the textures you use.
</p>
<ul>
<li><div> You can tell you picked too small a scale if, for example, your road tiles appear like tiny grains of sand. </div>
</li>
<li><div> You can tell you picked too big a scale if, for example, the blades of grass look like twigs.</div>
</li>
</ul>

<p>

Use <code>setWrap(WrapMode.Repeat)</code> to make the small texture fill the wide area. If the repetition is too visible, try adjusting the respective <code>Tex*Scale</code> value.
</p>

</div>
<!-- EDIT6 SECTION "Looking at the Texturing Code" [10435-12573] -->
<h2><a>What is a Terrain?</a></h2>
<div>

<p>

Internally, the generated terrain mesh is broken down into tiles and blocks. This is an optimization to make culling easier. You do not need to worry about &quot;tiles and blocks&quot; too much, just use recommended values for now ??? 64 is a good start.
</p>

<p>
Let&#039;s assume you want to generate a 512x512 terrain. You already have created the heightmap object. Here are the steps that you perform everytime you create a new terrain.
</p>

<p>
Create a TerrainQuad with the following arguments:
</p>
<ol>
<li><div> Specify a name: E.g. <code>my terrain</code>.</div>
</li>
<li><div> Specify tile size: You want to terrain tiles of size 64x64, so you supply 64+1 = 65.</div>
<ul>
<li><div> In general, 64 is a good starting value for terrain tiles.</div>
</li>
</ul>
</li>
<li><div> Specify block size: Since you prepared a heightmap of size 512x512, you supply 512+1 = 513.</div>
<ul>
<li><div> If you supply a block size of 2x the heightmap size (1024+1=1025), you get a stretched out, wider, flatter terrain.</div>
</li>
<li><div> If you supply a block size 1/2 the heightmap size (256+1=257), you get a smaller, more detailed terrain.</div>
</li>
</ul>
</li>
<li><div> Supply the 512x512 heightmap object that you created.</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "What is a Terrain?" [12574-13657] -->
<h3><a>Looking at the Terrain Code</a></h3>
<div>

<p>

Here&#039;s the code:

</p>
<pre>terrain = new TerrainQuad(
  &quot;my terrain&quot;,               // name
  65,                         // tile size
  513,                        // block size
  heightmap.getHeightMap());  // heightmap</pre>

<p>
You have created the terrain object.
</p>
<ol>
<li><div> Remember to apply the created material: <pre>terrain.setMaterial&#40;mat_terrain&#41;;</pre>
</div>
</li>
<li><div> Remember to attach the terrain to the rootNode.<pre>rootNode.attachChild&#40;terrain&#41;;</pre>
</div>
</li>
<li><div> If needed, scale and translate the terrain object, just like any other Spatial.</div>
</li>
</ol>

<p>

<strong>Tip:</strong> Terrain.j3md is an unshaded material definition, so you do not need a light source. You can also use TerrainLighting.j3md plus a light, if you want a shaded terrain.
</p>

</div>
<!-- EDIT8 SECTION "Looking at the Terrain Code" [13658-14420] -->
<h2><a>What is LOD (Level of Detail)?</a></h2>
<div>

<p>

JME3 includes an optimization that adjusts the level of detail (LOD) of the rendered terrain depending on how close or far the camera is.
</p>
<pre>    TerrainLodControl control = new TerrainLodControl&#40;terrain, getCamera&#40;&#41;&#41;;
    terrain.addControl&#40;control&#41;;</pre>

<p>
Close parts of the terrain are rendered in full detail. Terrain parts that are further away are not clearly visible anyway, and JME3 improves performance by rendering them less detailed. This way you can afford to load huge terrains with no penalty caused by invisible details.
</p>

</div>
<!-- EDIT9 SECTION "What is LOD (Level of Detail)?" [14421-15013] -->
<h2><a>Exercises</a></h2>
<div>

</div>
<!-- EDIT10 SECTION "Exercises" [15014-15036] -->
<h3><a>Exercise 1: Texture Layers</a></h3>
<div>

<p>

What happens when you swap two layers, for example <code>Tex1</code> and <code>Tex2</code>?

</p>
<pre>...
mat_terrain.setTexture&#40;&quot;Tex2&quot;, grass&#41;;
...
mat_terrain.setTexture&#40;&quot;Tex1&quot;, dirt&#41;;</pre>

<p>
You see it&#039;s easier to swap layers in the code, than to change the colors in the alphamap.
</p>

</div>
<!-- EDIT11 SECTION "Exercise 1: Texture Layers" [15037-15346] -->
<h3><a>Exercise 2: Randomized Terrains</a></h3>
<div>

<p>

The following two lines generate the heightmap object based on your user-defined image:
</p>
<pre>Texture heightMapImage = assetManager.loadTexture&#40;
        &quot;Textures/Terrain/splat/mountains512.png&quot;&#41;;
    heightmap = new ImageBasedHeightMap&#40;heightMapImage.getImage&#40;&#41;&#41;;</pre>

<p>
Instead, you can also let JME3 generate a random landscape for you:
</p>
<ol>
<li><div> What result do you get when you replace the above two heightmap lines by the following lines and run the sample?<pre>HillHeightMap heightmap = null;
HillHeightMap.NORMALIZE_RANGE = 100; // optional
try &#123;
    heightmap = new HillHeightMap&#40;513, 1000, 50, 100, &#40;byte&#41; 3&#41;; // byte 3 is a random seed
&#125; catch &#40;Exception ex&#41; &#123;
    ex.printStackTrace&#40;&#41;;
&#125;</pre>
</div>
</li>
<li><div> Change one parameter at a time, and the run the sample again. Note the differences. Can you find out which of the values has which effect on the generated terrain (look at the javadoc also)?</div>
<ul>
<li><div> Which value controls the size?</div>
<ul>
<li><div> What happens if the size is not a square number +1 ?</div>
</li>
</ul>
</li>
<li><div> Which value controls the number of hills generated?</div>
</li>
<li><div> Which values control the size and steepness of the hills?</div>
<ul>
<li><div> What happens if the min is bigger than or equal to max? </div>
</li>
<li><div> What happens if both min and max are small values (e.g. 10/20)?</div>
</li>
<li><div> What happens if both min and max are large values (e.g. 1000/1500)?</div>
</li>
<li><div> What happens if min and max are very close(e.g. 1000/1001, 20/21)? Very far apart (e.g. 10/1000)?</div>
</li>
</ul>
</li>
</ul>
</li>
</ol>

<p>
You see the variety of hilly landscapes that can be generated using this method.
</p>

<p>
<p><div>For this exercise, you can keep using the splat Material from the sample code above. Just don&#039;t be surprised that the Material does not match the shape of the newly randomized landscape. If you want to generate real matching splat textures for randomized heightmaps, you need to write a custom method that, for example, creates an alphamap from the heightmap by replacing certain grayscales with certain RGB values.
</div></p>
</p>

</div>
<!-- EDIT12 SECTION "Exercise 2: Randomized Terrains" [15347-17360] -->
<h3><a>Exercise 3: Solid Terrains</a></h3>
<div>

<p>

Can you combine what you learned here and in <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Hello Collision</a>, and <a href="/com/jme3/gde/docs/jme3/advanced/terrain_collision.html">make the terrain solid</a>?
</p>

</div>
<!-- EDIT13 SECTION "Exercise 3: Solid Terrains" [17361-17530] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

You have learned how to create terrains that are more efficient than loading one giant model. You know how to create generate random or handmade heightmaps. You can add a LOD control to render large terrains faster. You are aware that you can combine what you learned about collison detection to make the terrain solid to a physical player. You are also able to texture a terrain &quot;like a boss&quot; using layered Materials and texture splatting. You are aware that the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> provides a TerrainEditor that helps with most of these manual tasks.
</p>

<p>
Do you want to hear your players say &quot;ouch!&quot; when they bump into a wall or fall off a hill? Continue with learning <a href="/com/jme3/gde/docs/jme3/beginner/hello_audio.html">how to add sound</a> to your game.

</p>
<hr/>

<p>
See also:
</p>
<ul>
<li><div> <a href="/com/jme3/gde/docs/jme3/advanced/terrain_collision.html">Terrain Collision</a></div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:beginner?do=showtag&amp;tag=tag%3Abeginner">beginner</a>,
	<a href="/wiki/doku.php/tag:heightmap?do=showtag&amp;tag=tag%3Aheightmap">heightmap</a>,
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:terrain?do=showtag&amp;tag=tag%3Aterrain">terrain</a>,
	<a href="/wiki/doku.php/tag:texture?do=showtag&amp;tag=tag%3Atexture">texture</a>
</span></div>

</div>
<!-- EDIT14 SECTION "Conclusion" [17531-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_terrain?do=export_xhtmlbody">view online version</a></em></p>