
<h1><a>jMonkeyEngine 3 Tutorial (12) - Hello Effects</a></h1>
<div>

<p>

Previous: <a href="/com/jme3/gde/docs/jme3/beginner/hello_audio.html">Hello Audio</a>,
Next: <a href="/com/jme3/gde/docs/jme3/beginner/hello_physics.html">Hello Physics</a>
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme3/beginner/beginner-effect-fire.png">
</p>

<p>
When you see one of the following in a game, then a particle system is likely behind it:
</p>
<ul>
<li><div> Fire, flames, sparks;</div>
</li>
<li><div> Rain, snow, waterfalls, leaves;</div>
</li>
<li><div> Explosions, debris, shockwaves;</div>
</li>
<li><div> Dust, fog, clouds, smoke;</div>
</li>
<li><div> Insects swarms, meteor showers;</div>
</li>
<li><div> Magic spells.</div>
</li>
</ul>

<p>

These scene elements cannot be modeled by meshes. In very simple terms:
</p>
<ul>
<li><div> The difference between an explosion and a dust cloud is the speed of the particle effect. </div>
</li>
<li><div> The difference between flames and a waterfall is the direction and the color of the particle effect. </div>
</li>
</ul>

<p>

Particle effects can be animated (e.g. sparks, drops) and static (strands of grass, hair). Non-particle effects include bloom/glow, and motion blur/afterimage. In this tutorial you learn how to make animated particles (com.jme3.effect). 
</p>

<p>
<p><div>To use the example assets in a new jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> project, right-click your project, select &quot;Properties&quot;, go to &quot;Libraries&quot;, press &quot;Add Library&quot; and add the &quot;jme3-test-data&quot; library.
</div></p>
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine 3 Tutorial (12) - Hello Effects" [1-1141] -->
<h2><a>Sample Code</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.effect.ParticleEmitter;
import com.jme3.effect.ParticleMesh;
import com.jme3.material.Material;
import com.jme3.math.ColorRGBA;
import com.jme3.math.Vector3f;
&nbsp;
/** Sample 11 - how to create fire, water, and explosion effects. */
public class HelloEffects extends SimpleApplication &#123;
&nbsp;
  public static void main&#40;String&#91;&#93; args&#41; &#123;
    HelloEffects app = new HelloEffects&#40;&#41;;
    app.start&#40;&#41;;
  &#125;
&nbsp;
  @Override
  public void simpleInitApp&#40;&#41; &#123;
&nbsp;
    ParticleEmitter fire = 
            new ParticleEmitter&#40;&quot;Emitter&quot;, ParticleMesh.Type.Triangle, 30&#41;;
    Material mat_red = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Misc/Particle.j3md&quot;&#41;;
    mat_red.setTexture&#40;&quot;Texture&quot;, assetManager.loadTexture&#40;
            &quot;Effects/Explosion/flame.png&quot;&#41;&#41;;
    fire.setMaterial&#40;mat_red&#41;;
    fire.setImagesX&#40;2&#41;; 
    fire.setImagesY&#40;2&#41;; // 2x2 texture animation
    fire.setEndColor&#40;  new ColorRGBA&#40;1f, 0f, 0f, 1f&#41;&#41;;   // red
    fire.setStartColor&#40;new ColorRGBA&#40;1f, 1f, 0f, 0.5f&#41;&#41;; // yellow
    fire.getParticleInfluencer&#40;&#41;.setInitialVelocity&#40;new Vector3f&#40;0, 2, 0&#41;&#41;;
    fire.setStartSize&#40;1.5f&#41;;
    fire.setEndSize&#40;0.1f&#41;;
    fire.setGravity&#40;0, 0, 0&#41;;
    fire.setLowLife&#40;1f&#41;;
    fire.setHighLife&#40;3f&#41;;
    fire.getParticleInfluencer&#40;&#41;.setVelocityVariation&#40;0.3f&#41;;
    rootNode.attachChild&#40;fire&#41;;
&nbsp;
    ParticleEmitter debris = 
            new ParticleEmitter&#40;&quot;Debris&quot;, ParticleMesh.Type.Triangle, 10&#41;;
    Material debris_mat = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Misc/Particle.j3md&quot;&#41;;
    debris_mat.setTexture&#40;&quot;Texture&quot;, assetManager.loadTexture&#40;
            &quot;Effects/Explosion/Debris.png&quot;&#41;&#41;;
    debris.setMaterial&#40;debris_mat&#41;;
    debris.setImagesX&#40;3&#41;; 
    debris.setImagesY&#40;3&#41;; // 3x3 texture animation
    debris.setRotateSpeed&#40;4&#41;;
    debris.setSelectRandomImage&#40;true&#41;;
    debris.getParticleInfluencer&#40;&#41;.setInitialVelocity&#40;new Vector3f&#40;0, 4, 0&#41;&#41;;
    debris.setStartColor&#40;ColorRGBA.White&#41;;
    debris.setGravity&#40;0, 6, 0&#41;;
    debris.getParticleInfluencer&#40;&#41;.setVelocityVariation&#40;.60f&#41;;
    rootNode.attachChild&#40;debris&#41;;
    debris.emitAllParticles&#40;&#41;;
  &#125;
&#125;</pre>

<p>
You should see an explosion that sends debris flying, and a fire.
<object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.googlecode.com/svn/trunk/engine/src/test/jme3test/effect/"><param name="text" value="<html><u>More example code is here.</u></html>"><param name="textColor" value="blue"></object>
</p>

</div>
<!-- EDIT2 SECTION "Sample Code" [1142-3525] -->
<h3><a>Texture Animation and Variation</a></h3>
<div>

<p>

<img src="/wiki/lib/exe/fetch.php">
</p>

<p>
Start by choosing a material texture for your effect. If you provide the emitter with a set of textures (see image), it can use them either for variation (random order), or as animation steps (fixed order). 
</p>

<p>
Setting emitter textures works just as you have already learned in previous chapters. This time you base the material on the <code>Particle.j3md</code> material definition. Let&#039;s have a closer look at the material for the Debris effect. 
</p>
<pre>    ParticleEmitter debris = 
            new ParticleEmitter&#40;&quot;Debris&quot;, ParticleMesh.Type.Triangle, 10&#41;;
    Material debris_mat = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Misc/Particle.j3md&quot;&#41;;
    debris_mat.setTexture&#40;&quot;Texture&quot;, assetManager.loadTexture&#40;
            &quot;Effects/Explosion/Debris.png&quot;&#41;&#41;;
    debris.setMaterial&#40;debris_mat&#41;;
    debris.setImagesX&#40;3&#41;; 
    debris.setImagesY&#40;3&#41;; // 3x3 texture animation
    debris.setSelectRandomImage&#40;true&#41;;
        ...</pre>
<ol>
<li><div> Create a material and load the texture.</div>
</li>
<li><div> Tell the Emitter into how many animation steps (x*y) the texture is divided. <br/>
The debris texture has 3x3 frames.</div>
</li>
<li><div> Optionally, tell the Emitter whether the animation steps are to be at random, or in order. <br/>
For the debris, the frames play at random.</div>
</li>
</ol>

<p>

As you see in the debris example, texture animations improve effects because each &quot;flame&quot; or &quot;piece of debris&quot; now looks different. Also think of electric or magic effects, where you can create very interesting animations by using an ordered morphing series of lightning bolts; or flying leaves or snow flakes, for instance.
</p>

<p>
The fire material is created the same way, just using &quot;Effects/Explosion/flame.png&quot; texture, which has with 2x2 ordered animation steps.
</p>

</div>
<!-- EDIT3 SECTION "Texture Animation and Variation" [3526-5384] -->
<h3><a>Default Particle Textures</a></h3>
<div>

<p>

The following particle textures included in <code>test-data.jar</code>. You can copy and use them in your own effects.

</p>
<div><table>
	<tr>
		<th> Texture Path                     </th><th> Dimension </th><th> Preview </th>
	</tr>
	<tr>
		<td> Effects/Explosion/Debris.png     </td><td> 3*3  </td><td> <img src="/wiki/lib/exe/fetch.php"> </td>
	</tr>
	<tr>
		<td> Effects/Explosion/flame.png      </td><td> 2*2  </td><td> <img src="/wiki/lib/exe/fetch.php"> </td>
	</tr>
	<tr>
		<td> Effects/Explosion/shockwave.png  </td><td> 1*1  </td><td> <img src="/wiki/lib/exe/fetch.php"> </td>
	</tr>
	<tr>
		<td> Effects/Explosion/smoketrail.png </td><td> 1*3  </td><td> <img src="/wiki/lib/exe/fetch.php"> </td>
	</tr>
	<tr>
		<td> Effects/Smoke/Smoke.png          </td><td> 1*15 </td><td> <img src="/wiki/lib/exe/fetch.php"> </td>
	</tr>
</table></div>
<!-- EDIT5 TABLE [5533-6332] -->
<p>

Copy them into you <code>assets/Effects</code> directory to use them.
</p>

</div>
<!-- EDIT4 SECTION "Default Particle Textures" [5385-6395] -->
<h2><a>Creating Custom Textures</a></h2>
<div>

<p>

For your game, you will likely create custom particle textures. Look at the fire example again.
</p>
<pre>    ParticleEmitter fire = 
            new ParticleEmitter&#40;&quot;Emitter&quot;, ParticleMesh.Type.Triangle, 30&#41;;
    Material mat_red = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Misc/Particle.j3md&quot;&#41;;
    mat_red.setTexture&#40;&quot;Texture&quot;, assetManager.loadTexture&#40;
            &quot;Effects/Explosion/flame.png&quot;&#41;&#41;;
    fire.setMaterial&#40;mat_red&#41;;
    fire.setImagesX&#40;2&#41;; 
    fire.setImagesY&#40;2&#41;; // 2x2 texture animation
    fire.setEndColor&#40;  new ColorRGBA&#40;1f, 0f, 0f, 1f&#41;&#41;;   // red
    fire.setStartColor&#40;new ColorRGBA&#40;1f, 1f, 0f, 0.5f&#41;&#41;; // yellow
&nbsp;</pre>

<p>
<img src="/wiki/lib/exe/fetch.php">
</p>

<p>
Compare the texture with the resulting effect.
</p>
<ul>
<li><div> Black parts of the image become fully transparent. </div>
</li>
<li><div> White/gray parts of the image are translucent and get colorized.</div>
</li>
<li><div> You set the color using <code>setStartColor()</code> and <code>setEndColor()</code>. <br/>
For fire, is&#039;s a gradient from yellow to red. </div>
</li>
<li><div> By default, the animation is played in order and loops.</div>
</li>
</ul>

<p>

Create a grayscale texture in a graphic editor, and save it to your <code>assets/Effects</code> directory. If you split up one image file into x*y animation steps, make sure each square is of equal size???just as you see in the examples here. 
</p>

</div>
<!-- EDIT6 SECTION "Creating Custom Textures" [6396-7793] -->
<h3><a>Emitter Parameters</a></h3>
<div>

<p>

A particle system is always centered around an emitter. 
</p>

<p>
Use the <code>setShape()</code> method to change the EmitterShape:
</p>
<ul>
<li><div> EmitterPointShape(Vector3f.ZERO) ???  particles emit from a point (default)</div>
</li>
<li><div> EmitterSphereShape(Vector3f.ZERO,2f) ??? particles emit from a sphere-sized area</div>
</li>
<li><div> EmitterBoxShape(new Vector3f(-1f,-1f,-1f),new Vector3f(1f,1f,1f)) ??? particles emit from a box-sized area</div>
</li>
</ul>

<p>
Example: 
</p>
<pre>emitter.setShape&#40;new EmitterPointShape&#40;Vector3f.ZERO&#41;&#41;;</pre>

<p>
You create different effects by changing the emitter parameters: 

</p>
<div><table>
	<tr>
		<th> Parameter           </th><th> Method </th><th> Default </th><th> Description </th>
	</tr>
	<tr>
		<td> number              </td><td> <code>setNumParticles()</code> </td><td> N/A </td><td> The maximum number of particles visible at the same time. Value is specified by user in constructor. This influences the density and length of the &quot;trail&quot;. </td>
	</tr>
	<tr>
		<td> velocity            </td><td> <code>getParticleInfluencer(). setInitialVelocity()</code>  </td><td> Vector3f.ZERO </td><td> Specify a vector how fast particles move and in which start direction. </td>
	</tr>
	<tr>
		<td> direction           </td><td> <code>getParticleInfluencer(). setVelocityVariation()</code> <br/>
<code>setFacingVelocity()</code> <br/>
<code>setRandomAngle()</code> <br/>
<code>setFaceNormal()</code> <br/>
<code>setRotateSpeed()</code> </td><td> 0.2f <br/>
false <br/>
false <br/>
Vector3f.NAN <br/>
0.0f </td><td> Optional accessors that control in which direction particles face while flying. </td>
	</tr>
	<tr>
		<td> lifetime            </td><td> <code>setLowLife()</code> <br/>
<code>setHighLife()</code> </td><td> 3f  <br/>
7f  </td><td> Minimum and maximum time period before particles fade. </td>
	</tr>
	<tr>
		<td> emission rate       </td><td> <code>setParticlesPerSec()</code> </td><td> 20 </td><td> How many new particles are emitted per second. </td>
	</tr>
	<tr>
		<td> color               </td><td> <code>setStartColor()</code> <br/>
<code>setEndColor()</code> </td><td> gray </td><td> Set to the same colors, or to two different colors for a gradient effect. </td>
	</tr>
	<tr>
		<td> size                </td><td> <code>setStartSize()</code> <br/>
<code>setEndSize()</code> </td><td> 0.2f <br/>
2f </td><td> Set to two different values for shrink/grow effect, or to same size for constant effect. </td>
	</tr>
	<tr>
		<td> gravity             </td><td> <code>setGravity()</code> </td><td> 0,1,0 </td><td> Whether particles fall down (positive) or fly up (negative). Set to 0f for a zero-g effect where particles keep flying. </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [8364-9836] -->
<p>

You can find details about <a href="/com/jme3/gde/docs/jme3/advanced/particle_emitters#configure_parameters.html">effect parameters</a> here.
Add and modify one parameter at a time, and try different values until you get the effect you want. 
</p>

<p>
<p><div><strong>Tip:</strong> Use the SceneComposer in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> to create effects more easily. Create an empty scene and add an emitter object to it. Change the emitter properties and watch the outcome live. You can save created effects as .j3o file and load them like scenes or models.
</div></p>
</p>

</div>
<!-- EDIT7 SECTION "Emitter Parameters" [7794-10345] -->
<h2><a>Exercise</a></h2>
<div>

<p>

Can you &quot;invert&quot; the fire effect into a small waterfall? Here some tips:
</p>
<ul>
<li><div> Change the Red and Yellow color to Cyan and Blue</div>
</li>
<li><div> Invert the velocity vector (direction) by using a negative number</div>
</li>
<li><div> Swap start and end size</div>
</li>
<li><div> Activate gravity by setting it to 0,1,0</div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Exercise" [10346-10636] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

You have learned that many different effects can be created by changing the parameters and textures of one general emitter object.
</p>

<p>
Now you move on to another exciting chapter ??? the simulation of <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_physics"><param name="text" value="<html><u>physical objects</u></html>"><param name="textColor" value="blue"></object>. Let&#039;s shoot some cannon balls at a brick wall!

</p>
<hr/>
<div><span>
	<a href="/wiki/doku.php/tag:beginner?do=showtag&amp;tag=tag%3Abeginner">beginner</a>,
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:intro?do=showtag&amp;tag=tag%3Aintro">intro</a>,
	<a href="/wiki/doku.php/tag:transparency?do=showtag&amp;tag=tag%3Atransparency">transparency</a>,
	<a href="/wiki/doku.php/tag:effect?do=showtag&amp;tag=tag%3Aeffect">effect</a>
</span></div>

</div>
<!-- EDIT10 SECTION "Conclusion" [10637-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_effects?do=export_xhtmlbody">view online version</a></em></p>