
<h1><a>jMonkeyEngine 3 Tutorial (8) - Hello Picking</a></h1>
<div>

<p>

Previous: <a href="/com/jme3/gde/docs/jme3/beginner/hello_animation.html">Hello Animation</a>,
Next: <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Hello Collision</a>
</p>

<p>
Typical interactions in games include shooting, picking up objects, and opening doors. From an implementation point of view, these apparently different interactions are surprisingly similar: The user first aims and selects a target in the 3D scene, and then triggers an action on it. We call this process picking.
</p>

<p>
You can pick something by either pressing a key on the keyboard, or by clicking with the mouse. In either case, you identify the target by aiming a ray ???a straight line??? into the scene. This method to implement picking is called <em>ray casting</em> (which is not the same as <em>ray tracing</em>).
</p>

<p>
This tutorial relies on what you have learned in the <a href="/com/jme3/gde/docs/jme3/beginner/hello_input_system.html">Hello Input</a> tutorial. You find more related code samples under <a href="/com/jme3/gde/docs/jme3/advanced/mouse_picking.html">Mouse Picking</a> and <a href="/com/jme3/gde/docs/jme3/advanced/collision_and_intersection.html">Collision and Intersection</a>.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme3/beginner/beginner-picking.png">
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine 3 Tutorial (8) - Hello Picking" [1-991] -->
<h2><a>Sample Code</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.collision.CollisionResult;
import com.jme3.collision.CollisionResults;
import com.jme3.font.BitmapText;
import com.jme3.input.KeyInput;
import com.jme3.input.MouseInput;
import com.jme3.input.controls.ActionListener;
import com.jme3.input.controls.KeyTrigger;
import com.jme3.input.controls.MouseButtonTrigger;
import com.jme3.material.Material;
import com.jme3.math.ColorRGBA;
import com.jme3.math.Ray;
import com.jme3.math.Vector3f;
import com.jme3.scene.Geometry;
import com.jme3.scene.Node;
import com.jme3.scene.shape.Box;
import com.jme3.scene.shape.Sphere;
&nbsp;
<span>/** Sample 8 - how to let the user pick (select) objects in the scene 
 * using the mouse or key presses. Can be used for shooting, opening doors, etc. */</span>
public class HelloPicking extends SimpleApplication &#123;
&nbsp;
  public static void main&#40;String&#91;&#93; args&#41; &#123;
    HelloPicking app = new HelloPicking&#40;&#41;;
    app.start&#40;&#41;;
  &#125;
  Node shootables;
  Geometry mark;
&nbsp;
  @Override
  public void simpleInitApp&#40;&#41; &#123;
    initCrossHairs&#40;&#41;; // a &quot;+&quot; in the middle of the screen to help aiming
    initKeys&#40;&#41;;       // load custom key mappings
    initMark&#40;&#41;;       // a red sphere to mark the hit
&nbsp;
    /** create four colored boxes and a floor to shoot at: */
    shootables = new Node&#40;&quot;Shootables&quot;&#41;;
    rootNode.attachChild&#40;shootables&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;a Dragon&quot;, -2f, 0f, 1f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;a tin can&quot;, 1f, -2f, 0f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;the Sheriff&quot;, 0f, 1f, -2f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;the Deputy&quot;, 1f, 0f, -4f&#41;&#41;;
    shootables.attachChild&#40;makeFloor&#40;&#41;&#41;;
  &#125;
&nbsp;
  /** Declaring the &quot;Shoot&quot; action and mapping to its triggers. */
  private void initKeys&#40;&#41; &#123;
    inputManager.addMapping&#40;&quot;Shoot&quot;,
      new KeyTrigger&#40;KeyInput.KEY_SPACE&#41;, // trigger 1: spacebar
      new MouseButtonTrigger&#40;MouseInput.BUTTON_LEFT&#41;&#41;; // trigger 2: left-button click
    inputManager.addListener&#40;actionListener, &quot;Shoot&quot;&#41;;
  &#125;
  /** Defining the &quot;Shoot&quot; action: Determine what was hit and how to respond. */
  private ActionListener actionListener = new ActionListener&#40;&#41; &#123;
&nbsp;
    public void onAction&#40;String name, boolean keyPressed, float tpf&#41; &#123;
      if &#40;name.equals&#40;&quot;Shoot&quot;&#41; &amp;&amp; !keyPressed&#41; &#123;
        // 1. Reset results list.
        CollisionResults results = new CollisionResults&#40;&#41;;
        // 2. Aim the ray from cam loc to cam direction.
        Ray ray = new Ray&#40;cam.getLocation&#40;&#41;, cam.getDirection&#40;&#41;&#41;;
        // 3. Collect intersections between Ray and Shootables in results list.
        shootables.collideWith&#40;ray, results&#41;;
        // 4. Print the results
        System.out.println&#40;&quot;----- Collisions? &quot; + results.size&#40;&#41; + &quot;-----&quot;&#41;;
        for &#40;int i = 0; i &lt; results.size&#40;&#41;; i++&#41; &#123;
          // For each hit, we know distance, impact point, name of geometry.
          float dist = results.getCollision&#40;i&#41;.getDistance&#40;&#41;;
          Vector3f pt = results.getCollision&#40;i&#41;.getContactPoint&#40;&#41;;
          String hit = results.getCollision&#40;i&#41;.getGeometry&#40;&#41;.getName&#40;&#41;;
          System.out.println&#40;&quot;* Collision #&quot; + i&#41;;
          System.out.println&#40;&quot;  You shot &quot; + hit + &quot; at &quot; + pt + &quot;, &quot; + dist + &quot; wu away.&quot;&#41;;
        &#125;
        // 5. Use the results (we mark the hit object)
        if &#40;results.size&#40;&#41; &gt; 0&#41; &#123;
          // The closest collision point is what was truly hit:
          CollisionResult closest = results.getClosestCollision&#40;&#41;;
          // Let's interact - we mark the hit with a red dot.
          mark.setLocalTranslation&#40;closest.getContactPoint&#40;&#41;&#41;;
          rootNode.attachChild&#40;mark&#41;;
        &#125; else &#123;
          // No hits? Then remove the red mark.
          rootNode.detachChild&#40;mark&#41;;
        &#125;
      &#125;
    &#125;
  &#125;;
&nbsp;
  /** A cube object for target practice */
  protected Geometry makeCube&#40;String name, float x, float y, float z&#41; &#123;
    Box box = new Box&#40;new Vector3f&#40;x, y, z&#41;, 1, 1, 1&#41;;
    Geometry cube = new Geometry&#40;name, box&#41;;
    Material mat1 = new Material&#40;assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
    mat1.setColor&#40;&quot;Color&quot;, ColorRGBA.randomColor&#40;&#41;&#41;;
    cube.setMaterial&#40;mat1&#41;;
    return cube;
  &#125;
&nbsp;
  /** A floor to show that the &quot;shot&quot; can go through several objects. */
  protected Geometry makeFloor&#40;&#41; &#123;
    Box box = new Box&#40;new Vector3f&#40;0, -4, -5&#41;, 15, .2f, 15&#41;;
    Geometry floor = new Geometry&#40;&quot;the Floor&quot;, box&#41;;
    Material mat1 = new Material&#40;assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
    mat1.setColor&#40;&quot;Color&quot;, ColorRGBA.Gray&#41;;
    floor.setMaterial&#40;mat1&#41;;
    return floor;
  &#125;
&nbsp;
  /** A red ball that marks the last spot that was &quot;hit&quot; by the &quot;shot&quot;. */
  protected void initMark&#40;&#41; &#123;
    Sphere sphere = new Sphere&#40;30, 30, 0.2f&#41;;
    mark = new Geometry&#40;&quot;BOOM!&quot;, sphere&#41;;
    Material mark_mat = new Material&#40;assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
    mark_mat.setColor&#40;&quot;Color&quot;, ColorRGBA.Red&#41;;
    mark.setMaterial&#40;mark_mat&#41;;
  &#125;
&nbsp;
  /** A centred plus sign to help the player aim. */
  protected void initCrossHairs&#40;&#41; &#123;
    guiNode.detachAllChildren&#40;&#41;;
    guiFont = assetManager.loadFont&#40;&quot;Interface/Fonts/Default.fnt&quot;&#41;;
    BitmapText ch = new BitmapText&#40;guiFont, false&#41;;
    ch.setSize&#40;guiFont.getCharSet&#40;&#41;.getRenderedSize&#40;&#41; * 2&#41;;
    ch.setText&#40;&quot;+&quot;&#41;; // crosshairs
    ch.setLocalTranslation&#40; // center
      settings.getWidth&#40;&#41; / 2 - guiFont.getCharSet&#40;&#41;.getRenderedSize&#40;&#41; / 3 * 2,
      settings.getHeight&#40;&#41; / 2 + ch.getLineHeight&#40;&#41; / 2, 0&#41;;
    guiNode.attachChild&#40;ch&#41;;
  &#125;
&#125;</pre>

<p>
You should see four colored cubes floating over a gray floor, and cross-hairs. Aim the cross-hairs and click, or press the spacebar to shoot. The hit spot is marked with a red dot.
</p>

<p>
Keep an eye on the application&#039;s output stream, it will give you more details: The name of the mesh that was hit, the coordinates of the hit, and the distance.
</p>

</div>
<!-- EDIT2 SECTION "Sample Code" [992-6844] -->
<h2><a>Understanding the Helper Methods</a></h2>
<div>

<p>

The methods <code>makeCube()</code>,  <code>makeFloor()</code>, <code>initMark()</code>, and <code>initCrossHairs</code>, are custom helper methods. We call them from  <code>simpleInitApp()</code> to initialize the scenegraph with sample content.

</p>
<ol>
<li><div> <code>makeCube()</code> creates simple colored boxes for &quot;target practice&quot;.</div>
</li>
<li><div> <code>makeFloor()</code> creates a gray floor node for &quot;target practice&quot;.</div>
</li>
<li><div> <code>initMark()</code> creates a red sphere (&quot;mark&quot;). We will use it later to mark the spot that was hit.</div>
<ul>
<li><div> Note that the mark is not attached and therefor not visible at the start!</div>
</li>
</ul>
</li>
<li><div> <code>initCrossHairs()</code> creates simple cross-hairs by printing a &quot;+&quot; sign in the middle of the screen.</div>
<ul>
<li><div> Note that the cross-hairs are attached to the <code>guiNode</code>, not to the <code>rootNode</code>.</div>
</li>
</ul>
</li>
</ol>

<p>

In this example, we attached all &quot;shootable&quot; objects to one custom node, <code>Shootables</code>. This is an optimization so the engine only has to calculate intersections with objects we are actually interested in.  The <code>Shootables</code> node is attached to the <code>rootNode</code> as usual.
</p>

</div>
<!-- EDIT3 SECTION "Understanding the Helper Methods" [6845-7885] -->
<h2><a>Understanding Ray Casting for Hit Testing</a></h2>
<div>

<p>

Our goal is to determine which box the user &quot;shot&quot; (picked). In general, we want to determine which mesh the user has selected by aiming the cross-hairs at it. Mathematically, we draw a line from the camera and see whether it intersects with objects in the 3D scene. This line is called a ray.
</p>

<p>
Here is our simple ray casting algorithm for picking objects:
</p>
<ol>
<li><div> Reset the results list.</div>
</li>
<li><div> Cast a ray from cam location into the cam direction.</div>
</li>
<li><div> Collect all intersections between the ray and <code>Shootable</code> nodes in the <code>results</code> list.</div>
</li>
<li><div> Use the results list to determine what was hit:</div>
<ol>
<li><div> For each hit, JME reports its distance from the camera, impact point, and the name of the mesh.</div>
</li>
<li><div> Sort the results by distance.</div>
</li>
<li><div> Take the closest result, it is the mesh that was hit.</div>
</li>
</ol>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Understanding Ray Casting for Hit Testing" [7886-8728] -->
<h2><a>Implementing Hit Testing</a></h2>
<div>

</div>
<!-- EDIT5 SECTION "Implementing Hit Testing" [8729-8766] -->
<h3><a>Loading the scene</a></h3>
<div>

<p>

First initialize some shootable nodes and attach them to the scene. You will use the <code>mark</code> object later.

</p>
<pre>  Node shootables;
  Geometry mark;
&nbsp;
  @Override
  public void simpleInitApp&#40;&#41; &#123;
    initCrossHairs&#40;&#41;;
    initKeys&#40;&#41;;
    initMark&#40;&#41;;
&nbsp;
    shootables = new Node&#40;&quot;Shootables&quot;&#41;;
    rootNode.attachChild&#40;shootables&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;a Dragon&quot;,    -2f, 0f, 1f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;a tin can&quot;,    1f,-2f, 0f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;the Sheriff&quot;,  0f, 1f,-2f&#41;&#41;;
    shootables.attachChild&#40;makeCube&#40;&quot;the Deputy&quot;,   1f, 0f, -4&#41;&#41;;
    shootables.attachChild&#40;makeFloor&#40;&#41;&#41;;
  &#125;</pre>

</div>
<!-- EDIT6 SECTION "Loading the scene" [8767-9453] -->
<h3><a>Setting Up the Input Listener</a></h3>
<div>

<p>

Next you declare the shooting action. It can be triggered either by clicking, or by pressing the space bar. The <code>initKeys()</code> method is called from <code>simpleInitApp()</code> to set up these input mappings.

</p>
<pre>  /** Declaring the &quot;Shoot&quot; action and its triggers. */
  private void initKeys&#40;&#41; &#123;
    inputManager.addMapping&#40;&quot;Shoot&quot;,      // Declare...
      new KeyTrigger&#40;KeyInput.KEY_SPACE&#41;, // trigger 1: spacebar, or
      new MouseButtonTrigger&#40;0&#41;&#41;;         // trigger 2: left-button click
    inputManager.addListener&#40;actionListener, &quot;Shoot&quot;&#41;; // ... and add.
  &#125;</pre>

</div>
<!-- EDIT7 SECTION "Setting Up the Input Listener" [9454-10074] -->
<h3><a>Picking Action Using Crosshairs</a></h3>
<div>

<p>

Next we implement the ActionListener that responds to the Shoot trigger with an action. The action follows the ray casting algorithm described above:
</p>
<ol>
<li><div> For every click or press of the spacebar, the <code>Shoot</code> action is triggered.</div>
</li>
<li><div> The action casts a ray forward and determines intersections with shootable objects (= ray casting).</div>
</li>
<li><div> For any target that has been hit, it prints name, distance, and coordinates of the hit.</div>
</li>
<li><div> Finally it attaches a red mark to the closest result, to highlight the spot that was actually hit.</div>
</li>
<li><div> When nothing was hit, the results list is empty, and the red mark is removed.</div>
</li>
</ol>

<p>

Note how it prints a lot of output to show you which hits were registered.
</p>
<pre>  /** Defining the &quot;Shoot&quot; action: Determine what was hit and how to respond. */
  private ActionListener actionListener = new ActionListener&#40;&#41; &#123;
    @Override
    public void onAction&#40;String name, boolean keyPressed, float tpf&#41; &#123;
      if &#40;name.equals&#40;&quot;Shoot&quot;&#41; &amp;&amp; !keyPressed&#41; &#123;
        // 1. Reset results list.
        CollisionResults results = new CollisionResults&#40;&#41;;
        // 2. Aim the ray from cam loc to cam direction.
        Ray ray = new Ray&#40;cam.getLocation&#40;&#41;, cam.getDirection&#40;&#41;&#41;;
        // 3. Collect intersections between Ray and Shootables in results list.
        shootables.collideWith&#40;ray, results&#41;;
        // 4. Print results.
        System.out.println&#40;&quot;----- Collisions? &quot; + results.size&#40;&#41; + &quot;-----&quot;&#41;;
        for &#40;int i = 0; i &lt; results.size&#40;&#41;; i++&#41; &#123;
          // For each hit, we know distance, impact point, name of geometry.
          float dist = results.getCollision&#40;i&#41;.getDistance&#40;&#41;;
          Vector3f pt = results.getCollision&#40;i&#41;.getContactPoint&#40;&#41;;
          String hit = results.getCollision&#40;i&#41;.getGeometry&#40;&#41;.getName&#40;&#41;;
          System.out.println&#40;&quot;* Collision #&quot; + i&#41;;
          System.out.println&#40;&quot;  You shot &quot; + hit + &quot; at &quot; + pt + &quot;, &quot; + dist + &quot; wu away.&quot;&#41;;
        &#125;
        // 5. Use the results (we mark the hit object)
        if &#40;results.size&#40;&#41; &gt; 0&#41;&#123;
          // The closest collision point is what was truly hit:
          CollisionResult closest = results.getClosestCollision&#40;&#41;;
          mark.setLocalTranslation&#40;closest.getContactPoint&#40;&#41;&#41;;
          // Let's interact - we mark the hit with a red dot.
          rootNode.attachChild&#40;mark&#41;;
        &#125; else &#123;
        // No hits? Then remove the red mark.
          rootNode.detachChild&#40;mark&#41;;
        &#125;
      &#125;
    &#125;
  &#125;;</pre>

<p>
<strong>Tip:</strong> Notice how you use the provided method <code>results.getClosestCollision().getContactPoint()</code> to determine the <em>closest</em> hit&#039;s location. If your game includes a &quot;weapon&quot; or &quot;spell&quot; that can hit multiple targets, you could also loop over the list of results, and interact with each of them.
</p>

</div>
<!-- EDIT8 SECTION "Picking Action Using Crosshairs" [10075-12848] -->
<h3><a>Picking Action Using Mouse Pointer</a></h3>
<div>

<p>

The above example assumes that the player is aiming crosshairs (attached to the center of the screen) at the target. But you can change the picking code to allow you to freely click at objects in the scene with a visible mouse pointer. In order to do this, and you have to convert the 2d screen coordinates of the click to 3D world coordinates to get the start point of the picking ray.

</p>
<ol>
<li><div> Reset result list.</div>
</li>
<li><div> Get 2D click coordinates.</div>
</li>
<li><div> Convert 2D screen coordinates to their 3D equivalent.</div>
</li>
<li><div> Aim the ray from the clicked 3D location forwards into the scene.</div>
</li>
<li><div> Collect intersections between ray and all nodes into a results list.</div>
</li>
</ol>
<pre>...
CollisionResults results = new CollisionResults&#40;&#41;;
Vector2f click2d = inputManager.getCursorPosition&#40;&#41;;
Vector3f click3d = cam.getWorldCoordinates&#40;
    new Vector2f&#40;click2d.x, click2d.y&#41;, 0f&#41;.clone&#40;&#41;;
Vector3f dir = cam.getWorldCoordinates&#40;
    new Vector2f&#40;click2d.x, click2d.y&#41;, 1f&#41;.subtractLocal&#40;click3d&#41;.normalizeLocal&#40;&#41;;
Ray ray = new Ray&#40;click3d, dir&#41;;
shootables.collideWith&#40;ray, results&#41;;
...</pre>

<p>
Use this together with <code>inputManager.setCursorVisible(true)</code> to make certain the cursor is visible. 
</p>

<p>
Note that since you now use the mouse for picking, you can no longer use it to rotate the camera. If you want to have a visible mouse pointer for picking in your game, you have to redefine the camera rotation mappings.
</p>

</div>
<!-- EDIT9 SECTION "Picking Action Using Mouse Pointer" [12849-14285] -->
<h2><a>Exercises</a></h2>
<div>

<p>

After a hit was registered, the closest object is identified as target, and marked with a red dot.
Modify the code sample to solve these exercises:
</p>

</div>
<!-- EDIT10 SECTION "Exercises" [14286-14457] -->
<h3><a>Exercise 1: Magic Spell</a></h3>
<div>

<p>

Change the color of the closest clicked target! <br/>
Here are some tips:
</p>
<ol>
<li><div> Go to the line where the closest target is indentified, and add your changes after that.</div>
</li>
<li><div> To change an object&#039;s color, you must first know its Geometry. Identify the node by identifying the target&#039;s name.</div>
<ul>
<li><div> Use <code>Geometry g = closest.getGeometry();</code></div>
</li>
</ul>
</li>
<li><div> Create a new color material and set the node&#039;s Material to this color.</div>
<ul>
<li><div> Look inside the <code>makeCube()</code> method for an example of how to set random colors.</div>
</li>
</ul>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Exercise 1: Magic Spell" [14458-14990] -->
<h3><a>Exercise 2: Shoot a Character</a></h3>
<div>

<p>

Shooting boxes isn&#039;t very exciting ??? can you add code that loads and positions a model in the scene, and shoot at it?
</p>
<ul>
<li><div> Tip: You can use <code>Spatial golem = assetManager.loadModel(&quot;Models/Oto/Oto.mesh.xml&quot;);</code> from the engine&#039;s jme3-test-data.jar.</div>
</li>
<li><div> Tip: Models are shaded! You need some light!</div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "Exercise 2: Shoot a Character" [14991-15329] -->
<h3><a>Exercise 3: Pick up into Inventory</a></h3>
<div>

<p>

Change the code as follows to simulate the player picking up objects into the inventory: When you click once, the closest target is identified and detached from the scene. When you click a second time, the target is reattached at the location that you have clicked. Here are some tips:
</p>
<ol>
<li><div> Create an inventory node to store the detached nodes temporarily.</div>
</li>
<li><div> The inventory node is not attached to the rootNode.</div>
</li>
<li><div> You can make the inventory visible by attaching the inventory node to the guiNode (which attaches it to the HUD). Note the following caveats:</div>
<ul>
<li><div> If your nodes use a lit Material (not &quot;Unshaded.j3md&quot;), also add a light to the guiNode.</div>
</li>
<li><div> Size units are pixels in the HUD, therefor a 2-wu cube is displayed only 2 pixels wide in the HUD. ??? Scale it bigger!</div>
</li>
<li><div> Position the nodes: The bottom left corner of the HUD is (0f,0f), and the top right corner is at (settings.getWidth(),settings.getHeight()).</div>
</li>
</ul>
</li>
</ol>

<p>

<p><div>Link to user-proposed solutions: <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.org/wiki/doku.php/jm3:solutions"><param name="text" value="<html><u>http://jmonkeyengine.org/wiki/doku.php/jm3:solutions</u></html>"><param name="textColor" value="blue"></object>
<em>Be sure to try to solve them for yourself first!</em>
</div></p>

</p>

</div>
<!-- EDIT13 SECTION "Exercise 3: Pick up into Inventory" [15330-16463] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

You have learned how to use ray casting to solve the task of determining what object a user selected on the screen. You learned that this can be used for a variety of interactions, such as shooting, opening, picking up and dropping items, pressing a button or lever, etc.
</p>

<p>
Use your imagination from here:
</p>
<ul>
<li><div> In your game, the click can trigger any action on the identified Geometry: Detach it and put it into the inventory, attach something to it, trigger an animation or effect, open a door or crate, ??? etc.</div>
</li>
<li><div> In your game, you could replace the red mark with a particle emitter, add an explosion effect, play a sound, calculate the new score after each hit depending on what was hit ??? etc.</div>
</li>
</ul>

<p>

Now, wouldn&#039;t it be nice if those targets and the floor were solid objects and you could walk around between them? Let&#039;s continue to learn about <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Collision Detection</a>.

</p>
<hr/>

<p>
See also:

</p>
<ul>
<li><div> <a href="/com/jme3/gde/docs/jme3/beginner/hello_input_system.html">Hello Input</a></div>
</li>
<li><div> <a href="/com/jme3/gde/docs/jme3/advanced/mouse_picking.html">Mouse Picking</a></div>
</li>
<li><div> <a href="/com/jme3/gde/docs/jme3/advanced/collision_and_intersection.html">Collision and Intersection</a></div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:beginner?do=showtag&amp;tag=tag%3Abeginner">beginner</a>,
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:intro?do=showtag&amp;tag=tag%3Aintro">intro</a>,
	<a href="/wiki/doku.php/tag:node?do=showtag&amp;tag=tag%3Anode">node</a>,
	<a href="/wiki/doku.php/tag:ray?do=showtag&amp;tag=tag%3Aray">ray</a>,
	<a href="/wiki/doku.php/tag:click?do=showtag&amp;tag=tag%3Aclick">click</a>,
	<a href="/wiki/doku.php/tag:collision?do=showtag&amp;tag=tag%3Acollision">collision</a>,
	<a href="/wiki/doku.php/tag:keyinput?do=showtag&amp;tag=tag%3Akeyinput">keyinput</a>,
	<a href="/wiki/doku.php/tag:input?do=showtag&amp;tag=tag%3Ainput">input</a>
</span></div>

</div>
<!-- EDIT14 SECTION "Conclusion" [16464-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_picking?do=export_xhtmlbody">view online version</a></em></p>