
<h1><a>AssetManager</a></h1>
<div>

<p>

By assets we mean multi-media files, such as 3D models, materials, textures, scenes, custom shaders, music and sound files, and custom fonts. JME3 has an integrated asset manager that helps you keep your project assets organized. Think of the asset manager as the filesystem of your game, independent of the actual deployment platform. By default, store your assets in the <code>MyGame/assets/ </code> directory of your project.
</p>

<p>
Advantages of the AssetManager:
</p>
<ul>
<li><div> The paths stay the same, no matter whether the game runs on Windows, Mac, Linux, etc!</div>
</li>
<li><div> The AssetManager automatically optimizes the handling of OpenGL objects. <br/>
For example, the same textures are not uploaded to the graphics card multiple times when multiple models use them.</div>
</li>
<li><div> The <a href="/com/jme3/gde/docs/sdk/default_build_script.html">default build script</a> automatically bundles the contents of the <code>assets</code> directory into the executable. </div>
</li>
</ul>

<p>

Advanced users can write a custom build and packaging script, and can register custom paths to the AssetManager, but this is up to you then. 
</p>

</div>

<h4><a>Context</a></h4>
<div>
<pre>jMonkeyProjects/MyGame/assets/    # You store assets in subfolders here! &lt;------
jMonkeyProjects/MyGame/build/     # SDK generates built classes here (*)
jMonkeyProjects/MyGame/build.xml  # You customize Ant build script here
jMonkeyProjects/MyGame/nbproject/ # SDK stores default build.xml and meta data (*)
jMonkeyProjects/MyGame/dist/      # SDK generates executable distribution here (*)
jMonkeyProjects/MyGame/src/       # You store Java sources here
jMonkeyProjects/MyGame/test/      # You store test classes here (optional)
(*) Managed by jMonkeyEngine SDK -- don&#039;t edit!</pre>

<p>
See also <a href="/com/jme3/gde/docs/jme3/intermediate/best_practices.html">Best Practices</a>.
</p>

</div>
<!-- EDIT1 SECTION "AssetManager" [1-1691] -->
<h2><a>Usage</a></h2>
<div>

<p>

The <code>assetManager</code> object is an com.jme3.asset.AssetManager instance that every com.jme3.app.Application can access. It maintains a root that also includes your project&#039;s classpath by default, so you can load any asset that&#039;s on the classpath, that is, the top level of your project directory. 
</p>

<p>
You can use the inherited <code>assetManager</code> object directly, or use the accessor <code>app.getAssetManager()</code>.
</p>

<p>
Here is an example how you load assets using the AssetManager. This lines loads a default Material from the built-in <code>Common/</code> directory:
</p>
<pre>Material mat = &#40;Material&#41; assetManager.loadAsset&#40;
    new AssetKey&#40;&quot;Common/Materials/RedColor.j3m&quot;&#41;&#41;;</pre>

<p>
This Material is &quot;somewhere&quot; in the jME3 JAR; the default Asset Manager is configured to handle a <code>Common/???</code> path correctly, so you don&#039;t have to specify the whole path when referring to built-in assets (such as default Materials).
</p>

<p>
Additionally, you can configure the Asset Manager and add any path to its root. This means, you can load assets from any project directory you specify. The next example shows how you load assets from your project&#039;s assets directory.
</p>

</div>
<!-- EDIT2 SECTION "Usage" [1692-2849] -->
<h2><a>Asset Directory</a></h2>
<div>

<p>

By default, jME3 searches for models in a directory named <code>assets</code>. 
</p>

<p>
<p><div>In Java projects created with the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>, an <code>assets</code> folder is created by default in your project directory. If you are using any other IDE, or the command line, you simply create an <code>assets</code> directory manually (see the Codeless Project tip below).
</div></p>
</p>

<p>
This is our recommended directory structure for storing assets:
</p>
<pre>jMonkeyProjects/MyGame/src/...           # Packages, .java source code.
jMonkeyProjects/MyGame/assets/...        # The assets directory:
jMonkeyProjects/MyGame/assets/Interface/   # .font, .jpg, .png, .xml
jMonkeyProjects/MyGame/assets/MatDefs/     # .j3md
jMonkeyProjects/MyGame/assets/Materials/   # .j3m
jMonkeyProjects/MyGame/assets/Models/      # .j3o
jMonkeyProjects/MyGame/assets/Scenes/      # .j3o
jMonkeyProjects/MyGame/assets/Shaders/     # .j3f, .vert, .frag
jMonkeyProjects/MyGame/assets/Sounds/      # .ogg, .wav
jMonkeyProjects/MyGame/assets/Textures/    # .jpg, .png; also .mesh.xml+.material, .mtl+.obj, .blend (!) </pre>

<p>
These subdirectories are just the most common examples. 
</p>

<p>
<p><div>You can rename/delete/add (sub)directories inside the <code>assets</code> directory in any way you like. Note however that there is no automatic refactoring for asset paths in the <acronym title="Software Development Kit">SDK</acronym>, so if you modify them late in the development process, you have to refactor all paths manually.
</div></p>
</p>

<p>
<strong>Examples:</strong> You can rename <code>assets/Sounds</code> to <code>assets/Audio</code>, you can delete <code>assets/MatDefs</code> if you don&#039;t use it, you can create <code>assets/AIscripts</code>, etc. You can rename/move the <code>assets/Textures</code> directory or its subdirectories, but then you have to re-export all models, and re-convert them all to .j3o, so plan ahead!
</p>

<p>
<p><div>Store textures in <code>assets/Textures/</code> before you work with them in a mesh editor! Export and save 3D model files (.mesh.xml+.material, .mtl+.obj, .blend) into the <code>assets/Textures/</code> (!) before you convert the model to binary format (.j3o)! This ensures that texture paths correctly point to the <code>assets/Textures</code> directory. <br/>
After the conversion, you move the .j3o file into the <code>assets/Models/</code> or <code>assets/Scenes/</code> directories. This way, you can reuse textures, your binaries consistently link the correct textures, and the <code>assets/Models</code> and <code>assets/Scenes</code> directories don&#039;t become cluttered.
</div></p>
</p>

</div>
<!-- EDIT3 SECTION "Asset Directory" [2850-5279] -->
<h2><a>Example Code: Loading Assets</a></h2>
<div>

<p>

Creating a material instance with the definition &quot;Unshaded.j3md&quot;:

</p>
<pre>Material mat_brick = new Material&#40; 
    assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;</pre>

<p>
Applying a texture to the material:

</p>
<pre>mat_brick.setTexture&#40;&quot;ColorMap&quot;, 
    assetManager.loadTexture&#40;&quot;Textures/Terrain/BrickWall/BrickWall.jpg&quot;&#41;&#41;;</pre>

<p>
Loading a font:

</p>
<pre>guiFont = assetManager.loadFont&#40;&quot;Interface/Fonts/Default.fnt&quot;&#41;;</pre>

<p>
Loading a model:

</p>
<pre>Spatial ninja = assetManager.loadModel&#40;&quot;Models/Ninja/Ninja.mesh.xml&quot;&#41;;</pre>

<p>
Loading a scene from an Ogre3D dotScene file stored inside a zip:

</p>
<pre>assetManager.registerLocator&#40;&quot;town.zip&quot;, ZipLocator.class&#41;;
Spatial scene = assetManager.loadModel&#40;&quot;main.scene&quot;&#41;;
rootNode.attachChild&#40;scene&#41;;</pre>

<p>
Alternatively to ZipLocator, there is also a HttpZipLocator that can stream models from a zip file online:
</p>
<pre>assetManager.registerLocator&#40;&quot;http://jmonkeyengine.googlecode.com/files/wildhouse.zip&quot;, 
                             HttpZipLocator.class&#41;;
Spatial scene = assetManager.loadModel&#40;&quot;main.scene&quot;&#41;;
rootNode.attachChild&#40;scene&#41;;</pre>

<p>
jME3 also offers a ClasspathLocator, ZipLocator, FileLocator, HttpZipLocator, and UrlLocator (see <code>com.jme3.asset.plugins</code>). 
</p>

<p>
<p><div>The custom build script does not automatically include all ZIP files in the executable build. See &quot;Cannot Locate Resource&quot; solution below.
</div></p>
</p>

</div>
<!-- EDIT4 SECTION "Example Code: Loading Assets" [5280-6752] -->
<h2><a>Common AssetManager Tasks</a></h2>
<div>
<div><table>
	<tr>
		<th> Task? </th><th> Solution! </th>
	</tr>
	<tr>
		<td> Load a model with materials </td><td> Use the asset manager&#039;s <code>loadModel()</code> method and attach the Spatial to the rootNode. <pre>Spatial elephant = assetManager.loadModel&#40;&quot;Models/Elephant/Elephant.mesh.xml&quot;&#41;;
rootNode.attachChild&#40;elephant&#41;;</pre>
<pre>Spatial elephant = assetManager.loadModel&#40;&quot;Models/Elephant/Elephant.j3o&quot;&#41;;
rootNode.attachChild&#40;elephant&#41;;</pre>
</td>
	</tr>
	<tr>
		<td> Load a model without materials </td><td> If you have a model without materials, you have to add a default material to make it visible. <pre>Spatial teapot = assetManager.loadModel&#40;&quot;Models/Teapot/Teapot.obj&quot;&#41;;
Material mat = new Material&#40;assetManager, &quot;Common/MatDefs/Misc/ShowNormals.j3md&quot;&#41;;
teapot.setMaterial&#40;mat&#41;;
rootNode.attachChild&#40;teapot&#41;;</pre>
</td>
	</tr>
	<tr>
		<td> Load a scene </td><td> You load scenes just like you load models: <pre>Spatial scene = assetManager.loadModel&#40;&quot;Scenes/house/main.scene&quot;&#41;;
rootNode.attachChild&#40;scene&#41;;</pre>
</td>
	</tr>
</table></div>
<!-- EDIT6 TABLE [6792-7720] -->
</div>
<!-- EDIT5 SECTION "Common AssetManager Tasks" [6753-7721] -->
<h2><a>NullPointerException: Cannot locate resource?</a></h2>
<div>

<p>

<strong>Problem:</strong>
</p>

<p>
My game runs fine when I run it right from the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>. But when I run the stand-alone executables (.jar, .jnlp .exe, .app), a DesktopAssetManager error message occurs in the console, and it quits?
</p>
<pre>com.jme3.asset.DesktopAssetManager loadAsset
WARNING: Cannot locate resource: Scenes/town/main.scene
com.jme3.app.Application handleError
SEVERE: Uncaught exception thrown in Thread[LWJGL Renderer Thread,5,main]
java.lang.NullPointerException</pre>

<p>
<strong>Reason:</strong>
</p>

<p>
If you use the default build script, <strong>original models and scenes (.mesh.xml, .obj, .blend, .zip), are excluded</strong> from the distribution automatically. A stand-alone executable includes converted <strong>.j3o files</strong> (models and scenes) only. The default build script makes sure to bundle existing .j3o files in the distribution, but you need to remember to convert the models (from mesh.xml???&gt;.j3o, or .obj???&gt;.j3o, etc) yourself. 
</p>

<p>
<strong>Solution</strong>
</p>

<p>
Before building the executable, you must use the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>&#039;s context menu action to <a href="/com/jme3/gde/docs/sdk/model_loader_and_viewer.html">convert 3D models to .j3o binary format</a>.
</p>
<ol>
<li><div> Save your original models (.mesh.xml, .scene, .blend, or .obj files, plus textures) into <code>assets/Textures/</code>. (!)</div>
</li>
<li><div> Open the jME3 project in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>.</div>
</li>
<li><div> Browse to the <code>assets</code> directory in the Projects window. </div>
</li>
<li><div> Right-click an original model in <code>assets/Textures/</code>, and choose &quot;Convert to JME3 binary&quot;.</div>
</li>
<li><div> The converted file appears in the same directory as the original file. It has the same name and a <code>.j3o</code> suffix. </div>
</li>
<li><div> Move the .j3o file into the <code>assets/Models/</code> or <code>assets/Scenes/</code> directory.</div>
</li>
<li><div> Use the assetManager&#039;s <code>load()</code> method to load the <code>.j3o</code> file.</div>
</li>
</ol>

<p>

This ensures that the model&#039;s Texture paths keep working between your 3D mesh editor and JME3.
</p>

<p>
<p><div>If you must load custom assets from a non-.j3o ZIP file, you must manually ammend the <a href="/com/jme3/gde/docs/sdk/default_build_script.html">default build script</a> to copy ZIP files into your distribution. ZIPs are skipped by default.
</div></p>
</p>

</div>
<!-- EDIT7 SECTION "NullPointerException: Cannot locate resource?" [7722-9798] -->
<h2><a>Asset Handling For Other IDEs: Codeless Projects</a></h2>
<div>

<p>

<strong>Problem:</strong>
</p>

<p>
I use another IDE than jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> for coding (Eclipse, IntelliJ, text editor). Where is my <code>asset</code> folder and .j3o converter?
</p>

<p>
<strong>Solution:</strong>
</p>

<p>
You can code in any IDE, but you must create a so-called codeless project in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> to maintain assets. <strong>A code-less jMonkeyEngine project does not meddle with your sources or custom build scripts.</strong> You merely use it to convert models to .j3o binaries. 

</p>
<ol>
<li><div> Create your (Eclipse or whatever) project as you like.</div>
</li>
<li><div> Create a directory in your project folder and name it, for example, <code>assets</code>. <br/>
Store your assets there as described above.</div>
</li>
<li><div> Download and install the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>.</div>
</li>
<li><div> In the <acronym title="Software Development Kit">SDK</acronym>, go to File ??? Import Projects ??? External Project Assets.</div>
</li>
<li><div> Select your (Eclipse or whatever) project and your assets folder in the Import Wizard.</div>
</li>
<li><div> You can now open this (Eclipse or whatever) project in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>. <br/>
Convert assets as described above.</div>
</li>
</ol>

<p>

<p><div>If you don&#039;t use the <acronym title="Software Development Kit">SDK</acronym> for some reason, you can still convert models to j3o format: Load any model in Ogre3D or Wavefront format with the AssetManager.loadModel() as a spatial. Then save the spatial as j3o file using <a href="/com/jme3/gde/docs/jme3/advanced/save_and_load.html">BinaryExporter</a>.
</div></p>
</p>

<p>
<p><div>Use file version control and let team members check out the project. Your developers open the project in Eclipse (etc) as they are used to. Additionally to their graphic tools, ask your graphic designers to install the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>, and to check out the codeless project that you just prepared. This makes it easy for non-coding team member to browse and preview game assets, to arrange scenes, and to convert files. At the same time, non-coders don&#039;t accidentally mess with code, and developers don&#039;t accidentally mess with assets. :)
</div></p>
</p>

</div>
<!-- EDIT8 SECTION "Asset Handling For Other IDEs: Codeless Projects" [9799-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:asset_manager?do=export_xhtmlbody">view online version</a></em></p>