
<h1><a>jMonkeyEngine SDK: Log Files</a></h1>
<div>

<p>

You find the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> log file in <code>/dev/var/log/messages.log</code> in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> preferences folder. You can learn the location of the preferences folder in the ???About??? screen of the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> under the label <strong>Userdir</strong>. 

</p>
<ul>
<li><div> Windows: <code>C:\Documents and Settings\YOUR_NAME\.jmonkeyplatform\</code></div>
</li>
<li><div> Linux: <code>/home/YOUR_NAME/.jmonkeyplatform/</code></div>
</li>
<li><div> Mac <acronym title="Operating System">OS</acronym>: <code>/Users/YOUR_NAME/Library/Application Support/jmonkeyplatform/</code></div>
</li>
</ul>

<p>

The message log contains all paths and <a href="/com/jme3/gde/docs/jme3/advanced/read_graphic_card_capabilites.html">capabilities</a> used in your development system, and also warnings, e.g. if a plugin crashed.
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine SDK: Log Files" [1-676] -->
<h2><a>Example Log</a></h2>
<div>
<pre>&gt;Log Session: Saturday, September 24, 2011 10:45:30 AM CEST
&gt;System Info: 
  Product Version         = jMonkeyPlatform Alpha-4
  Operating System        = Mac OS X version 10.6.8 running on i386
  Java; VM; Vendor        = 1.6.0_26; Java HotSpot(TM) Client VM 20.1-b02-384; Apple Inc.
  Runtime                 = Java(TM) SE Runtime Environment 1.6.0_26-b03-384-10M3425
  Java Home               = /System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Home
  System Locale; Encoding = de_DE (jmonkeyplatform); MacRoman
  Home Directory          = /Users/joemonkey
  Current Directory       = /
  User Directory          = /Users/joemonkey/Library/Application Support/jmonkeyplatform/dev
  Installation            = /Applications/jmonkeyplatform.app/Contents/Resources/jmonkeyplatform/jmonkeyplatform
  ...</pre>
<div><span>
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:sdk?do=showtag&amp;tag=tag%3Asdk">sdk</a>,
	<a href="/wiki/doku.php/tag:file?do=showtag&amp;tag=tag%3Afile">file</a>
</span></div>

</div>
<!-- EDIT2 SECTION "Example Log" [677-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/sdk:log_files?do=export_xhtmlbody">view online version</a></em></p>