
<h1><a>jMonkeyEngine SDK: Creating Projects</a></h1>
<div>

<p>

The jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> makes it easy to get started with developing 3-D games based on the jMonkeyEngine.
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine SDK: Creating Projects" [1-158] -->
<h2><a>Creating a New jMonkeyEngine Project</a></h2>
<div>
<ol>
<li><div> Choose File &gt; New Project from the main menu.</div>
</li>
<li><div> In the New Project Wizard, select the template JME3 &gt; Basic Game</div>
</li>
<li><div> Click next to specify a project name, and the path where to store your new project.</div>
</li>
<li><div> Click Finish. A skeleton application is created and opens in the Project Explorer.</div>
<ul>
<li><div> This basic jme3 application is based on the SimpleApplication class to allow an easy start with jme3.</div>
</li>
<li><div> You can click the run button to run it: You will see a jMonkey cube.</div>
</li>
</ul>
</li>
</ol>

</div>

<h4><a>Project Structure</a></h4>
<div>

<p>

<img src="nbdocs:/com/jme3/gde/docs/sdk/jmonkeyplatform-docu-4.png">
</p>

<p>
Let&#039;s have a look at the abstract project structure in the Project Explorer (ctrl-1).

</p>
<ul>
<li><div> <strong>Project Assets node:</strong> These directories have been created for you to store your games assets, such as fonts, materials, models, shaders, sounds, and textures. For a newly created project, these directories are empty.</div>
</li>
<li><div> <strong>Source Packages node:</strong> This is where you manage your packages and classes. For a newly created project, it contains one package and one class, <code>Main.java</code>. Double click <code>Main.java</code> to open it in the editor.</div>
</li>
<li><div> <strong>Libraries node:</strong> An overview of all libraies on your game&#039;s classpath. The classpath is already set-up for the jme3 framework (including LWJGL, Bullet, Nifty <acronym title="Graphical User Interface">GUI</acronym>, etc).</div>
</li>
</ul>

</div>

<h4><a>Directory Structure</a></h4>
<div>

<p>

Now let&#039;s have a look at the project&#039;s file structure in the File Explorer (ctrl-2). This explorer shows the physical directory structure on your hard drive.

</p>
<ul>
<li><div> <strong>assets</strong> ??? This directory corresponds to the Project Assets node. It is needed for the assetManager. This is the recommended internal structure:</div>
<ul>
<li><div> <code>assets/Interface</code></div>
</li>
<li><div> <code>assets/MatDefs</code></div>
</li>
<li><div> <code>assets/Materials</code></div>
</li>
<li><div> <code>assets/Models</code></div>
</li>
<li><div> <code>assets/Scenes</code></div>
</li>
<li><div> <code>assets/Shaders</code></div>
</li>
<li><div> <code>assets/Sounds</code></div>
</li>
<li><div> <code>assets/Textures</code></div>
</li>
</ul>
</li>
<li><div> <strong>src</strong> ??? This directory corresponds to the Source Packages node. Your sources code goes here.</div>
</li>
<li><div> <strong>nbproject</strong> ??? This is meta data used by the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> (don&#039;t edit).</div>
</li>
<li><div> <strong>build.xml</strong> ??? This is an Ant build script that is hooked up to the clean/build/run/test actions in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>. It loads a default build script, and allows you to further customize the build process. The Ant script also assures that you are able to clean/build/run/test your application outside of the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> ??? e.g. from the command line.</div>
</li>
<li><div> <strong>build</strong> ??? This directory contains the compiled classes. (Will be generated by the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> when you build the project.)</div>
</li>
<li><div> <strong>dist</strong> ??? This directory contains the executable JAR files. (Will be generated by the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> when you build the project.)</div>
</li>
<li><div> <strong>test</strong> ??? The jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> will store JUnit tests here if you create any. (Optional.)</div>
</li>
</ul>

<p>

Project Configuration
</p>

<p>
Right-Click the project to open the Project properties.
</p>

<p>
In the Run section, specify the main class of your project. (Pressing F6 runs this main class.)
In the Run section, you can optionally configure JVM options and command line parameters <strong>(in most cases set the-Xms VMOption [NUMBER] m for the memory usage. for example (-Xms500m). see <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://performance.netbeans.org/howto/jvmswitches/"><param name="text" value="<html><u>http://performance.netbeans.org/howto/jvmswitches/</u></html>"><param name="textColor" value="blue"></object>)</strong>.
In the Application section, specify the game title (by default the game will be named BasicGame).
In the Application section, specify the vendor name (your name), a short description, your project&#039;s homepage, and a splash screen.

</p>

</div>
<!-- EDIT2 SECTION "Creating a New jMonkeyEngine Project" [159-3635] -->
<h3><a>Project Configuration</a></h3>
<div>

<p>

Right-Click the project to open the Project properties.
</p>
<ul>
<li><div> In the Run section, specify the main class of your project. (Pressing F6 runs this main class.) </div>
</li>
<li><div> In the Run section, you can optionally configure JVM options and command line parameters.</div>
</li>
<li><div> In the Application section, specify the game title (by default the game will be named <code>BasicGame</code>).</div>
</li>
<li><div> In the Application section, specify the vendor name (your name), a short description, your project&#039;s homepage, and a splash screen.</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Project Configuration" [3636-4162] -->
<h3><a>Clean, Build and Run Cycle</a></h3>
<div>

<p>

<img src="nbdocs:/com/jme3/gde/docs/sdk/jmonkeyplatform-docu-5.png">
</p>

<p>
<p><div>Pressing <strong>F6 builds &amp; runs</strong> the <em>main</em> class of the <em>main project</em>. If there are several classes, or several projects, you have to specify which one you want F6 to run. Right-click a project and choose Set As Main Project, then right-click the project again and choose Properties &gt; Run and choose a Main Class. <br/>
To build and run the main() of <em>any file that is open in the editor</em>, press <strong>Shift-F6</strong> !
</div></p>

</p>
<ul>
<li><div> Right-Click the project and use the context-menu to clean all generated classes and JARs.</div>
</li>
<li><div> Right-Click individual files with a main method to build and run them. (Shift-F6)</div>
</li>
<li><div> Press the Run button (green arrow in the toolbar) to build and run the project. (F6) </div>
</li>
</ul>

<p>

<strong>More than one project open?</strong> The toolbar buttons and the F-keys are bound to the main project, which is shown in bold in the Project Explorer. Right-click a project and select Set As Main Project to make it respond to the toolbar buttons and F-keys.
</p>

<p>
<strong>Worried About Proprietary Lock-in?</strong> You are never locked into the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>: At any time, you can change into your project directory on the command line, and clean, build, and run your project, using non-proprietary Apache Ant commands: 
</p>
<pre>ant clean; ant jar; ant run;</pre>

</div>
<!-- EDIT4 SECTION "Clean, Build and Run Cycle" [4163-5499] -->
<h3><a>Development Process</a></h3>
<div>
<ul>
<li><div> <strong>Creating new files and packages:</strong> Select the Source Packages node (or any of its subnodes), and press ctrl-N (File???New File): Use the New File wizard to create new Java classes, Java packages, Java beans, Swing forms, JUnit files, j3m Materials, j3o scenes, j3f filters, and many more.</div>
</li>
<li><div> <strong>Editing files:</strong> Open the Projects Explorer and double-click a Java file from the Source Packages to open it in the Editor. The <a href="/com/jme3/gde/docs/sdk/code_editor.html">jMonkeyEngine SDK Code Editor</a> assists you in many ways, including syntactic and semantic code coloring, code completion, and javadoc. <a href="/com/jme3/gde/docs/sdk/code_editor.html">(More...)</a></div>
</li>
<li><div> <strong>Adding Assets:</strong></div>
<ul>
<li><div> You can <a href="/com/jme3/gde/docs/sdk/model_loader_and_viewer.html">import models, scenes, and materials</a> as assets into your project.</div>
</li>
<li><div> To add sound files and images, use your operating system&#039;s file explorer and copy the files into your project&#039;s asset directory.</div>
</li>
</ul>
</li>
<li><div> <strong>ToDo List:</strong> The tasks window automatically lists all lines containing errors and warnings, and all lines that you have marked with the comment keywords <code>FIXME</code>, @todo, or TODO.</div>
</li>
<li><div> <strong>Integrated tools:</strong> <a href="/com/jme3/gde/docs/sdk/debugging_profiling_testing.html">Debugging, Testing, Profiling</a>.</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Development Process" [5500-6685] -->
<h3><a>Adding external jar libraries</a></h3>
<div>

<p>

You may want to use external Java libraries in your jME project, for example content generators or artificial intelligence implementations.
</p>

<p>
Add the library to the global library list:
</p>
<ul>
<li><div> Select Tools???Libraries in the main menu.</div>
</li>
<li><div> Click &quot;New Library&quot;, enter a name for the library, and press OK</div>
</li>
<li><div> In the &quot;Classpath&quot; tab, press &quot;Add JAR/Folder&quot; and select the jar file(s) needed for the library</div>
</li>
<li><div> (Optional) In the &quot;JavaDoc&quot; tab, press &quot;Add ZIP/Folder&quot; and select the javadoc for the library, as zip file or folder.</div>
</li>
<li><div> (Optional) In the &quot;Sources&quot; tab you can select a folder or jar file containing the source files of the library.</div>
</li>
<li><div> Press OK</div>
</li>
</ul>

<p>

Add the library to a project:
</p>
<ul>
<li><div> Right-Click your project and select &quot;Properties&quot;</div>
</li>
<li><div> Select &quot;Libaries&quot; on the left and then press &quot;Add Library&quot;</div>
</li>
<li><div> Select the library from the list and press OK</div>
</li>
</ul>

<p>

That&#039;s it, your project can now use the external library. If you also linked the javadoc and sources, the <acronym title="Software Development Kit">SDK</acronym> will assist you with javadoc popups, code completion (ctrl-space) and source navigation (ctrl-click).
</p>

</div>
<!-- EDIT6 SECTION "Adding external jar libraries" [6686-7789] -->
<h3><a>Application Deployment</a></h3>
<div>
<ul>
<li><div> You can <a href="/com/jme3/gde/docs/sdk/application_deployment.html">deploy</a> your game as desktop application (JAR), browser applet, WebStart (JNLP), or on the Android platform. <a href="/com/jme3/gde/docs/sdk/application_deployment.html">(More...)</a> </div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Application Deployment" [7790-8009] -->
<h2><a>Running Sample Projects</a></h2>
<div>

<p>

The <acronym title="Software Development Kit">SDK</acronym> contains <a href="/com/jme3/gde/docs/sdk/sample_code.html">Sample Code</a> (read more).
</p>

<p>
Open the Source Packages node of the JmeTests project.
</p>
<ul>
<li><div> Right-click the <code>JME3Tests</code> project and choose Run. <br/>
Choose samples from the TestChooser and try out the included demos.</div>
</li>
<li><div> Browse a demo&#039;s source code in the <acronym title="Software Development Kit">SDK</acronym>&#039;s Project window to learn how a feature is implemented and used.</div>
</li>
<li><div> Feel free to modify the code samples and experiment! If you break something, you can always recreate the packaged samples from the <code>JME3 Tests</code> template.</div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:project?do=showtag&amp;tag=tag%3Aproject">project</a>,
	<a href="/wiki/doku.php/tag:deployment?do=showtag&amp;tag=tag%3Adeployment">deployment</a>,
	<a href="/wiki/doku.php/tag:sdk?do=showtag&amp;tag=tag%3Asdk">sdk</a>
</span></div>

</div>
<!-- EDIT8 SECTION "Running Sample Projects" [8010-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/sdk:project_creation?do=export_xhtmlbody">view online version</a></em></p>