
<h1><a>jMonkeyEngine SDK: Scene Explorer</a></h1>
<div>

<p>
<img src="nbdocs:/com/jme3/gde/docs/sdk/jmonkeyplatform-sceneexplorer-add.jpg">
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine SDK: Scene Explorer" [1-98] -->
<h2><a>About the SceneExplorer window</a></h2>
<div>

<p>
The SceneExplorer gives you a structural overview of the currently edited scene and is active among all plugins
</p>

<p>
Most plugins will deliver their own UI elements to modify the scene so the SceneExplorer is more of a global tool. The simple SceneComposer however heavily relies on its functions as other plugins might too in the future.
</p>

</div>
<!-- EDIT2 SECTION "About the SceneExplorer window" [99-477] -->
<h2><a>Using the SceneExplorer</a></h2>
<div>

<p>

The SceneExplorer displays Nodes in a tree that represents the tree of Spatials in your scene. Spatial controls, lights and geometry meshes are also displayed in the tree.
</p>

<p>
You open the SceneExplorer by viewing a model (j3o file or other) in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>.
</p>

</div>
<!-- EDIT3 SECTION "Using the SceneExplorer" [478-780] -->
<h3><a>Editing Objects in the scene</a></h3>
<div>
<ol>
<li><div> Select a node in the SceneExplorer window (Open via Window???SceneExplorer if not open)</div>
</li>
<li><div> Edit the node in the Properties window (Open via Window???Properties if not open)</div>
</li>
<li><div> You can rename a Spatial by right clicking it or by slowly double-clicking the node</div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Editing Objects in the scene" [781-1085] -->
<h3><a>Reorganizing Objects in the scene</a></h3>
<div>
<ol>
<li><div> You can cut, copy and paste Nodes in the SceneExplorer with the normal keyboard commands or the right-click menu of the Nodes</div>
</li>
<li><div> You can move single object within the SceneExplorer tree by dragging&amp;dropping them</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "Reorganizing Objects in the scene" [1086-1348] -->
<h3><a>Adding Objects to the scene</a></h3>
<div>

<p>

Right-click a Spatial or Node in the SceneExplorer to add other Spatials like ParticleEmitters or Lights, you can also add UserData to a Spatial that can be read during runtime.
</p>
<div><span>
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:sdk?do=showtag&amp;tag=tag%3Asdk">sdk</a>,
	<a href="/wiki/doku.php/tag:tool?do=showtag&amp;tag=tag%3Atool">tool</a>,
	<a href="/wiki/doku.php/tag:scene?do=showtag&amp;tag=tag%3Ascene">scene</a>,
	<a href="/wiki/doku.php/tag:node?do=showtag&amp;tag=tag%3Anode">node</a>
</span></div>

</div>
<!-- EDIT6 SECTION "Adding Objects to the scene" [1349-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/sdk:scene_explorer?do=export_xhtmlbody">view online version</a></em></p>